.App {
  text-align: center;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #282c34;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: white;
}

.Container {
  margin-top: 80px;
  display: block;
  color: #282c34;
}

.Container a {
  display: block;
  margin: 10px 0;
}

.loginForm {
  width: 400px;
  margin: 20px auto 0;
  max-width: 100%;
  text-align: center;
}

.login-input {
  width: 100%;
}

.login-submit-button {
  margin-top: 20px;
}